<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create page</title>
  </head>
  <body>
    <h1>문제 만들기</h1>
    <form action="{% url 'polls:create' %}" method="POST">
      {% csrf_token %} 문제 질문 작성 <input type="text" name="title" />
      <br />
      정답 선지 작성 <input type="text" name="select_one" /> <br />
      오답 선지 작성 <input type="text" name="select_two" /> <br />
      <input type="submit" value="등록" />
    </form>
  </body>
</html>
